extends layout

block content
  h1 #{title}

  h2 Item Data
  if itemData == null
    p #[i No such item matching key given above.]
  else
    table
      tr
        for column in itemData.columns
          th !{column}
      for row in itemData.rows
        tr
          for item in row
            td !{item}

  h2 The Logs
  if data == null
    p #[i This table contains no data as yet.]
  else
    table
      tr
        for column in data.columns
          th !{column}
      for row in data.rows
        tr
          for item in row
            if item == null
              td #[i Nil]
            else
              td !{item}

  p !{note}

  h2 Add New Entry
  form(action=formAction, method="post")
    p
      | remarks:
      br
      textarea(name="remarks", required)
    input(type="submit", value="Submit")
